@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(to right, #b1b1ff, #9ed8ff , #acffac, #ff99cc, #adadff);
    animation: rainbow_animation 20s ease-in-out infinite;
    padding: 5rem 6rem;
    background-size: 400% 100%;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #05301a;
    display: block;
    padding: 0;
    margin: 0;
}

.color {
    color: #159957;
}

.main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.6rem;
}

.small-content {
    font-size: 1.4rem;
}

.smaller-content {
    font-size: 1rem;
}

.left {
    float: left;
    position: relative;
    width: 50%;
}

.right {
    float: right;
    position: relative;
    width: 50%;
}

img {
    width: 50%;
}

table{
    table-layout: fixed; 
    width: 100%;
}

th{
    font-size: 1.3rem;
}

.inline{
    display: inline;
}

.footer{
    padding: 20px 20px;
    font-size: 0.9rem;
}

.woah{
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

a {
    text-decoration: none;
}

.top-nav{
    font-size: 2rem;
    color: black;
    margin: -11px auto -3px auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    transition: transform .5s;
}

.nav-button{
    font-size: 1.3rem;
    color: black;
    background: rgb(136, 233, 236);
    padding: 5px 10px 5px 10px;
}

.top-nav:hover{
    transform: scale(1.5);
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0%;
    }
}

.appear {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

img {
    transition: transform .5s;
  }

img:hover {
    transform: scale(2);
  }

.slide-right {
    animation: slide 3s forwards;
    transform: translateX(-100%);
}

@keyframes slide {
    to {
        transform:translateX(0);
    }
}